<template>
  <header>
    <button class="mobile-menu-toggle" id="menu-toggle" aria-label="Toggle navigation">
      ☰
    </button>
    
    <div>
      <a href="/"><img src="/images/header/home.png" alt="Home"></a>
      <a id="messages-count" href="/messages">
        <img src="/images/header/message.png" alt="Message">
        <span id="msg-badge"></span>
      </a>
      <a href="/profile"><img src="/images/header/profile.png" alt="Profile"></a>

    </div>

    <div id="section2-cnt">

      <a href="/users">All users</a>
      <form action="/login-out" method="POST">
        <button id="login-out">Login Out</button>
      </form>
      <div>
        <form id="search-form">
          <input type="text" id="search-value" name="search" placeholder="Search">
        </form>
      </div>
      
    </div>
  </header>
</template>