main{
    position: relative;
}
#profile{
    padding: 22px;
    background-color: skyblue;
    height: 100vh;
    position: relative;
}
#profile-details-cnt{
    width: 48%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.777);
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

#profile-details-cnt .username-email{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 2rem;
    column-gap: 12px;
}
.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#profile-details-cnt h2{
    color: whitesmoke;
    line-height: 28px;
}

#profile-details-cnt form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
}
#profile-details-cnt form input{
    outline: none;
    padding: 12px;
    border-radius: 8px;
}
#profile-details-cnt form button{
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

#delete-btn{
    padding: 12px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: darkred;
    color: red;
    border-radius: 12px;
    cursor: pointer;
}

#delete-modal{
    display: none;
    width: 480px;
    height: fit-content;
    position: absolute;
    padding: 12px;
    top: 20%;
    left: 20%;
    z-index: 100;
    background-color: aliceblue;
    color: black;
    font-weight: 700;
    gap: 22px;
    font-size: 2rem;
    place-items: center;
    border-radius: 20px;
}

#delete-modal .question-cnt{
    display: flex;
    justify-content:center;
    column-gap: 20%;
}

#delete-modal .question-cnt button{
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

#remove-image{
    color: rgb(243, 102, 0);
    position: relative;
    z-index: 20;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width: 930px) {
    #profile-details-cnt{
        width: 90%;
        margin: 0 auto;
    }
    #delete-modal{
        width: 80%;
        left: 10%;
        font-size: 22px;
    }
 }

 @media screen and (max-width: 580px) {
  #profile-details-cnt .username-email{
   grid-template-columns: 1fr;
  }
  #profile-details-cnt .username-email .profile-img-container{
    grid-row: 1/ 2;
  }

  #profile-details-cnt .username-email #remove-image{
    grid-row: 2/ 3;
  }

  #profile-details-cnt .username-email .user-details-cnt{
    grid-row: 3/ 3;
  }


 }